<!-- <img
      class="bd-placeholder-img card-img-top"
      width="100%"
      src="{{ 'assets/images/' + livro.img + '.jpg' }}"
  /> -->

<!-- <div class="card-body">
        <p class="card-text">{{ stock.id }}</p>
        <p class="card-text">{{ stock.ticker }}</p>
        <p class="card-text">{{ stock.quantity }}</p>
        <p class="card-text">{{ stock.averagePrice | currency: "BRL" }}</p>
        <p class="card-text">{{ stock.total }}</p>
        <p class="card-text">{{ stock.quote }}</p>
        <p class="card-text">{{ stock.profit }}</p>
    </div> -->

<!-- <ul>
        <li class="card-text">{{ stock.id }}</li>
        <li class="card-text">{{ stock.ticker }}</li>
        <li class="card-text">{{ stock.quantity }}</li>
        <li class="card-text">{{ stock.averagePrice | currency: "BRL" }}</li>
        <li class="card-text">{{ stock.total }}</li>
        <li class="card-text">{{ stock.quote }}</li>
        <li class="card-text">{{ stock.profit }}</li>
    </ul> -->

<!-- <td class="">{{ stock.id }}</td>
<td class="">{{ stock.ticker }}</td>
<td class="">{{ stock.quantity }}</td>
<td class="">{{ stock.averagePrice | currency: "BRL" }}</td>
<td class="">{{ stock.total }}</td>
<td class="">{{ stock.quote }}</td>
<td class="">{{ stock.profit }}</td> -->
