/* table, th, td {
  border:1px solid black;
} */

h1 {
  text-align: center;
  color: rgb(0, 81, 255);
}


table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  /* border: 1px solid #ddd; */
  padding: 12px;
}

td {
  font-size: 15px;
}

/*
tr:nth-child(even){background-color: #f2f2f2;} */

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  /* background-color: rgb(54, 54, 54);
  color: white; */
}

.apiLoading{
  margin: 20px;
  color: blue;
  font-weight: 500;
}
.apiOff{
  margin: 20px;
  color: red;
  font-weight: 500;
}



