<div class="col">
    <table class="table" style="width: 100%">
        <thead class="table-secondary">
            <tr>
                <th>#</th>
                <th>Ticker</th>
                <th>Quantidade</th>
                <th>Preço Médio</th>
                <th>Total</th>
                <th>Cotação atual</th>
                <th>Lucro</th>
            </tr>
        </thead>

        <tbody>
            <tr class="" *ngFor="let stock of stocks">
                <td class="">{{ stock.id }}</td>
                <td class="">{{ stock.ticker }}</td>
                <td class="">{{ stock.quantity }}</td>
                <td class="">{{ stock.averagePrice | currency: "BRL" }}</td>
                <!-- <td class="">{{ stock.total }}</td> -->
                <td class="">{{ stock.quantity * stock.averagePrice | currency: "BRL" }}</td>
                <td class="">{{ stock.currentQuote | currency: "BRL" }}</td>
                <td class="">{{ stock.profit | currency: "BRL" }}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- <div class="btn-group" dropdown>
  <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-animated">
    Button dropdown <span class="caret"></span>
  </button>
  <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
      role="menu" aria-labelledby="button-animated">
    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>
    </li>
    <li role="menuitem"><a class="dropdown-item" href="#">Something else
      here</a></li>
  </ul>
</div> -->
