<div class="d-flex justify-content-between mb-2">
    <div class="">
        <app-title [title]="title"></app-title>
    </div>
    <!-- <div>
      <button class="btn btn-warning">Adicionar</button>
  </div> -->
</div>

<div class="col">
    <table class="table" style="width: 100%">
        <thead class="table-secondary">
            <tr>
                <th>#</th>
                <th>Tipo</th>
                <th>Ticker</th>
                <th>Quantidade</th>
                <th>Preço Médio</th>
                <th>Total</th>
                <th>Cotação atual</th>
                <th>Lucro</th>
                <th>Data</th>
                <th>Editar/Remover</th>
            </tr>
        </thead>

        <tbody>
            <tr class="" *ngFor="let stock of stocks">
                <td class="">{{ stock.id }}</td>
                <td class="">{{ stock.orderType | typeBuySell }}</td>
                <td class="">{{ stock.ticker }}</td>
                <td class="">{{ stock.quantity }}</td>
                <td class="">{{ stock.averagePrice | currency : "BRL" }}</td>
                <td class="">{{ stock.total | currency : "BRL" }}</td>
                <!-- <td class="">{{ stock.quantity * stock.averagePrice | currency : "BRL" }}</td> -->
                <!-- <td class="">{{ stock.currentQuote | currency : "BRL" }}</td> -->
                <td class="">{{ stock.currentQuote }}</td>
                <td class="">{{ stock.profit | currency : "BRL" }}</td>
                <td class="">{{ stock.date | date : "dd/MM/yyyy" }}</td>
                <td class="">
                    <div class="btn-group">
                        <button
                            class="btn btn-sm btn-outline-primary"
                            (click)="selectStocks(stock); openModal(template)"
                        >
                            Editar
                        </button>
                        <button
                            class="btn btn-sm btn-outline-danger"
                            (click)="selectStocks(stock); openModal(deleteForm)"
                        >
                            Remover
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <div>
  <div ng-controller="MyController">
    <ul>
      <li ng-repeat="(ticker, quantity, averagePrice, total, currentQuote, profit) in data | groupBy: 'ticker'">
        ticker: {{ticker}}, name: {{items[0].name}}, volume: {{getVolumeSum(stocks)}}
      </li>
    </ul>
  </div>
</div> -->

<!-- <div class="btn-group" dropdown>
<button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
        aria-controls="dropdown-animated">
  Button dropdown <span class="caret"></span>
</button>
<ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
    role="menu" aria-labelledby="button-animated">
  <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
  <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>
  </li>
  <li role="menuitem"><a class="dropdown-item" href="#">Something else
    here</a></li>
</ul>
</div> -->

<button type="button" class="btn btn-warning" (click)="openModal(template); setMode()">Adicionar</button>

<div>
    <span class="material-symbols-outlined buy"> expand_less </span>
    <span class="material-symbols-outlined sell"> expand_more </span>
    <span class="material-symbols-outlined buy"> arrow_drop_up </span>
    <span class="material-symbols-outlined sell"> arrow_drop_down </span>
</div>
<div>
    <i class="fa-solid fa-c"></i>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Adicionar operação</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- form dentro do modal -->
        <form [formGroup]="stockForm">
            <div class="mb-3">
                <label for="formGroupExemplaeInput" class="form-label">Ticker</label>
                <input type="text" formControlName="ticker" class="form-control" />
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
                <label for="formGroupExemplaeInput" class="form-label">Quantidade</label>
                <input type="text" formControlName="quantity" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="formGroupExemplaeInput" class="form-label">Preço Médio</label>
                <input type="text" formControlName="averagePrice" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="formGroupExemplaeInput" class="form-label">Total</label>
                <input type="text" formControlName="total" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="formGroupExemplaeInput" class="form-label">Cotação atual</label>
                <input type="text" formControlName="currentQuote" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="formGroupExemplaeInput" class="form-label">Lucro</label>
                <input type="text" formControlName="profit" class="form-control" />
            </div>

            <div class="mb-3">
                <label for="formGroupExemplaeInput" class="form-label">Tipo</label>
                <input type="text" formControlName="orderType" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="formGroupExemplaeInput" class="form-label">Data</label>
                <input type="text" formControlName="date" class="form-control" />
            </div>

            <!-- <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Option 1</mat-radio-button>
                <mat-radio-button value="2">Option 2</mat-radio-button>
            </mat-radio-group> -->

            <!-- Default radio -->
            <!-- <div class="form-check">
                <input mdbRadio class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                <label class="form-check-label" for="flexRadioDefault1"> Default radio </label>
            </div> -->
            <!-- Default checked radio -->
            <!-- <div class="form-check">
                <input
                    mdbRadio
                    class="form-check-input"
                    type="radio"
                    name="flexRadioDefault"
                    id="flexRadioDefault2"
                    [checked]="true"
                />
                <label class="form-check-label" for="flexRadioDefault2"> Default checked radio </label>
            </div>

            <mat-form-field appearance="fill">
                <mat-label>Select an option</mat-label>
                <mat-select disableRipple>
                    <mat-option value="1">Option 1</mat-option>
                    <mat-option value="2">Option 2</mat-option>
                    <mat-option value="3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
 -->
            <div class="mb-3">
                <button type="button" class="float-end btn btn-primary" (click)="submitForm(); modalRef.hide()">
                    Confirmar
                </button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #deleteForm>
    <div class="modal-header">
        <h5 class="modal-title pull-left">Remover ação</h5>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Deseja realmente remover esta ação?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteStocks(); modalRef.hide()">Remover</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Cancelar</button>
    </div>
</ng-template>
