* {
  /* background-color: #f2f2f2; */
  background-color: #121314;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer-content {
  margin: 4px 0 0 8px;
  color: #f2f2f2;
  font-size: x-small;
}
